body{
    background-color: cornflowerblue;
}
h1{
    color: rgb(23, 61, 60);
    font-size: 50px;
    font-style: italic;
}
.td_nome{
    font-size: 20px;
    color: rgb(rgb(0, 0, 0), rgb(0, 0, 0), rgb(118, 118, 246)); 
}
.exemplo{color:rgb(51, 4, 50);
background-color: rgb(190, 222, 249);
}

.nome{
    font-size: 20px;
    color: rgb(31, 5, 55);
}

.trim{
    font-size: 20px;
    color: rgb(81, 5, 98);
}
.media{
    font-size: 20px;
    color: rgb(88, 12, 118);
}
table{
    text-align: center;
}
